<div class="main-todos">
    <div class="wrapper">
        <h1>Just do it.</h1>
        <div class="add-todo">
            <input type="text" [(ngModel)]="newTodo" placeholder="Add a task.">
            <div (click)="addTodo()">
                <p>I got this!</p>
            </div>
        </div>
        <div *ngFor="let todo of todos; let i = index" class="todos">
            <p>{{ todo.title }} {{ todos.id }}</p>
            <div class="icons">
                <div class="icon" (click)="toggleCheckbox()">
                    <img [src]="isChecked ? '../../../assets/img/checkbox-checked.svg' : '../../../assets/img/checkbox-empty.svg'" alt="check">
                </div>   
                <div class="icon">
                    <img src="../../../assets/img/edit.svg" alt="edit">
                </div>
                <div class="icon">
                    <img src="../../../assets/img/delete.svg" alt="delete" (click)="deleteTodo(i)">
                </div>
            </div>
        </div>
    </div>
</div>