<section class="register-section">
<h1>Register</h1>
    <form (ngSubmit)="register()" class="form">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input"
                   type="text"
                   id="regUsername"
                   name="username"
                   [(ngModel)]="username" 
                   (keyup)="enableBtn()"/>
            <label class="mdl-textfield__label" for="regUsername">User name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input"
                   type="password"
                   id="regPassword"
                   name="password1"
                   [(ngModel)]="password1"
                   (keyup)="enableBtn()" 
                   />
            <label class="mdl-textfield__label" for="regPassword">Password</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input"
                   type="password"
                   id="regVerifyPassword"
                   name="password2"
                   [(ngModel)]="password2"
                   (keyup)="enableBtn()" 
                   />
                   
            <label class="mdl-textfield__label" for="regVerifyPassword">Verify password</label>
        </div>
        <div class="btns-bottom">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="registerBtn" disabled>Register</button>
            <a routerLink="/login"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"> Back to login </a>
        </div>
    </form>
        
    <div class="pw-requirements">
        <p>Register requirements:</p>
        <ul>
            <li>Your user name must contain at least 3 characters.</li>
            <li>Your password must contain at least 8 characters.</li>
        </ul>
    </div>
    
</section>