header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    p {
        font-size: 18px;
    }
}

.header-logout {
        margin: unset;
        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
}