<div class="logout-wrapper">
    <div class="logout-container">
        <h1 class="logout-h1">You have been logged out</h1>
        <p class="logout-p">Would you like to log in again or create a new account?</p>
        <div class="btns-bottom">
            <a href="#"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</a>
            <a href="#"
               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign up</a>
        </div>
    </div>
