<section class="login-section">
  <div class="login-box">
    <h2>Login</h2>
    <form (ngSubmit)="login()" class="form">
      <input
        class="mdl-textfield__input"
        type="text"
        name="username"
        [(ngModel)]="username"
        required
        placeholder="Username"
      />
      <input
        class="mdl-textfield__input"
        type="password"
        name="password"
        [(ngModel)]="password"
        required
        placeholder="Password"
      />
      <button
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
    </form>
  </div>

  <div class="register-text">
    Not registered yet?
    <a
      href="#"
      class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
      >Sign up!</a
    >
  </div>
</section>
