/* You can add global styles to this file, and also import other style files */
body {
	background: linear-gradient(to right, #545555, #0C3040);
	color: #FFDFDB;
	position: relative;
}

p {
	margin: unset !important;
}

.mdl-layout {
    height: unset !important;
}

.mdl-layout__container {
    height: unset !important;
}

.mdl-textfield {
    padding: 1.25rem 0 !important;
}

.form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 300px;
}

.gap-24 {
	gap: 24px;
}

.btns-bottom {
	display: flex;
	justify-content: center;
	gap: 24px;
}

.header-container {
	display: flex !important;
	justify-content: space-between !important;
}

.header-logout {
	display: flex;
	justify-content: flex-end;
}